* {
    text-align: center;
}

/* Default light mode */
:root {
    --background-color-light: #f0f0f0;
}
  
/* Dark mode */
@media (prefers-color-scheme: dark) {
    :root {
        --background-color-light: #1a1a1a;
    }
}

body {
    background-color: var(--background-color-light);
}

/* Default light mode */
:root {
    --text-color-light: #000000; /* Black */
  }
  
/* Dark mode */
@media (prefers-color-scheme: dark) {
    :root {
        --text-color-light: #ffffff; /* White */
    }
}

h1 {
    font-family: "Tahoma", sans-serif;
    color: var(--text-color-light);
}

label {
    color: var(--text-color-light);
}

#result {
    color: var(--text-color-light);
    font-weight: bold;
}

.formatted-text {
    background-color: gray;
    padding: 10px;
    max-width: fit-content;
    margin: 0 auto;
    display: none;
    text-align: left;
}

.output-row {
    display: flex;
    justify-content: space-between;
    width: auto; /* Adjust the width as needed */
    margin-bottom: auto;
}

.output-label {
    text-align: left;
}

.output-value {
    text-align: right;
    width: auto; /* Adjust the width as needed */
}

.divider-line {
    margin-bottom: auto;
    margin-top: auto;
}

.container {
    display: flex;
    justify-content: center; /* Center the container horizontally */
}

.centered-button {
    text-align: center;
}

/* Styles for the modal (popup) */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #fff;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}